/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.logo{
		display: none;
	}
	.main_title_block{
		display: block;
		height: 10vh;
	}
	.main_left_block{
		background-color: #000;
		height: 80vh;
    	background: url(../img/bg1.jpg) fixed no-repeat center center;
    	background-size: cover;
	}
	.main_right_block{
		height: 10vh;
		padding-top: 0vh;
	}
	.main_menu_left_top,
	.main_menu_right_top,
	.main_menu_left_bottom,
	.main_menu_right_bottom{
		height: 10vh;
	}
	.main_menu_left_top{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_right_top{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_left_bottom{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_right_bottom{
	}
	.our_command_block_icon{
		padding-top: 0px;
    	left: 27%;
	}
	.main_menu{
		padding-top: 2%;
	}
	.about_us_block{	/*Делаю блок для маленьких дисплеев*/
		width: 100%;
		height: 100%;
    	margin-top: 0%;
	}
	.contacts_text {	    
    	font-size: 16px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.logo{
		display: none;
	}
	.main_title_block{
		display: block;
		height: 10vh;
	}
	.main_left_block{
		background-color: #000;
		height: 80vh;
    	background: url(../img/bg1.jpg) fixed no-repeat center center;
    	background-size: cover;
	}
	.main_right_block{
		height: 10vh;
		padding-top: 0vh;
	}
	.main_menu_left_top,
	.main_menu_right_top,
	.main_menu_left_bottom,
	.main_menu_right_bottom{
		height: 10vh;
	}
	.main_menu_left_top{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_right_top{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_left_bottom{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_right_bottom{
	}
	.our_command_block_icon{
		padding-top: 0px;
    	left: 37%;
	}
	.main_menu{
		padding-top: 5px;
	}
	.about_us_block{	/*Делаю блок для маленьких дисплеев*/
		width: 100%;
		height: 100%;
    	margin-top: 0%;
	}
	.contacts_text {	    
    	font-size: 16px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.logo{
		display: none;
	}
	.main_title_block{
		display: block;
		height: 10vh;
	}
	.main_left_block{
		background-color: #000;
		height: 80vh;
    	background: url(../img/bg1.jpg) fixed no-repeat center center;
    	background-size: cover;
	}
	.main_right_block{
		height: 10vh;
		padding-top: 0vh;
	}
	.main_menu_left_top,
	.main_menu_right_top,
	.main_menu_left_bottom,
	.main_menu_right_bottom{
		height: 10vh;
	}
	.main_menu_left_top{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_right_top{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_left_bottom{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_right_bottom{
	}
	.our_command_block_icon{
		padding-top: 0px;
    	left: 37%;
	}
	.main_menu{
		padding-top: 5px;
	}
	.about_us_block{	/*Делаю блок для маленьких дисплеев*/
		width: 100%;
		height: 100%;
    	margin-top: 0%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.logo{
		display: block;
	}
	.main_title_block{
		display: none;
	}
	.main_left_block{
		background-color: #000;
		height: 100vh;
    	background: url(../img/bgLg.jpg);
    	background-size: cover;
	}
	.main_right_block{
		height: 100vh;
	}	
	.main_menu_block{
		margin-top: 5vh;
	}
	.main_menu_left_top,
	.main_menu_right_top,
	.main_menu_left_bottom,
	.main_menu_right_bottom{
		height: 150px;
	}
	.main_menu_left_top{
	    border-right: 1px solid #1c212a;
	    border-bottom: 1px solid #1c212a;
	}
	.main_menu_right_top{
	    border-bottom: 1px solid #1c212a;
	}
	.main_menu_left_bottom{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_right_bottom{
	}
	.our_command_block_icon{
    	left: 40%;
	}
	.main_menu{
		padding-top: 6%;
	}
	.about_us_block{	/*Делаю блок для маленьких дисплеев*/
		width: 95%;
    	height: 96%;
    	margin-top: 2%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.logo{
		display: block;
	}
	.main_title_block{
		display: none;
	}
	.main_left_block{
		background-color: #000;
		height: 100vh;
    	background: url(../img/bgLg.jpg);
    	background-size: cover;
	}
	.main_right_block{
		height: 100vh;
		padding-top: 5vh;
	}	
	.main_menu_block{
		margin-top: 5vh;
	}
	.main_menu_left_top,
	.main_menu_right_top,
	.main_menu_left_bottom,
	.main_menu_right_bottom{
		height: 150px;
	}
	.main_menu_left_top{
	    border-right: 1px solid #1c212a;
	    border-bottom: 1px solid #1c212a;
	}
	.main_menu_right_top{
	    border-bottom: 1px solid #1c212a;
	}
	.main_menu_left_bottom{
	    border-right: 1px solid #1c212a;
	}
	.main_menu_right_bottom{
	}
	.our_command_block_icon{
    	left: 40%;
	}
	.main_menu{
		padding-top: 6%;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
	
}