/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.a{
	background-color: #ccc;
	height: 30vh;
	}
	.aa{
		background-color: #000;
		height: 70vh;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.a{
	background-color: #ccc;
	height: 30vh;
	}
	.aa{
		background-color: #000;
		height: 70vh;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.a{
	background-color: #ccc;
	height: 30vh;
	}
	.aa{
		background-color: #000;
		height: 70vh;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.a{
	background-color: #ccc;
	height: 30vh;
	}
	.aa{
		background-color: #000;
		height: 70vh;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.a{
	background-color: #ccc;
	height: 30vh;
	}
	.aa{
		background-color: #000;
		height: 70vh;
	}
	.logo{
		display: none;
	}
	.title_block{
		display: block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.a{
	background-color: #ccc;
	height: 100vh;
	}
	.aa{
		background-color: #000;
		height: 100vh;
	}
	.logo{
		display: block;
	}
	.title_block{
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.a{
	background-color: #ccc;
	height: 100vh;
	}
	.aa{
		background-color: #000;
		height: 100vh;
	}
	.logo{
		display: block;
	}
	.title_block{
		display: none;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
	
}