.hvr-sweep-to-top {
    cursor: pointer;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-bottom {
    cursor: pointer;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
/* Анимация главного меню */
body{    
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.main_left_block{
    margin-top: 0px;
}
.main_right_block{
    background-color: #1c212a;
}
.logo{
    display: block;
}
a:hover{
    text-decoration: none;
}
.logo .txt1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 80;
    color: #fff;
}
.logo .txt2 {
    font-size: 34px;
    line-height: 34px;
    font-weight: 700;
    color: #fff;
}
.main_menu_left_top{
    border-right: 1px solid #1c212a;
    border-bottom: 1px solid #1c212a;
}
.main_menu_right_top{
    border-bottom: 1px solid #1c212a;
}
.main_menu_left_bottom{
    border-right: 1px solid #1c212a;
}
.main_menu_right_bottom{
}
.main_menu{    
    color: #2C313C;
    background-color: #2C313C;
    padding-top: 5%;
}
.main_menu .fa{
    color: #fff;
} 
.our_command_block_icon{
    position: absolute;
}
.our_command_block_text{
    position: absolute;
    color: #fff;
    font-size: 28px;
    text-align: left;
    left: 47%;
    width: 40%;
}
.ocbtrt,
.ocbtlt{
    top: 100%;
}
.ocbtrb,
.ocbtlb{
    bottom: 100%;
    display: none;
}
.no_margin{
    margin-left: 6.156%;
}
/**/
.about_us_block{
    position: absolute;
    border: 0px solid #fff;
    background-color: #14171E;
    width: 95%;
    height: 96%;
    margin-top: 2%;
    padding: 10px;
    color: #fff;
    left: -100%;
}
.our_command_block{
    position: absolute;
    border: 0px solid #fff;
    background-color: #14171E;
    width: 95%;
    height: 96%;
    margin-top: 2%;
    padding: 10px;
    color: #fff;
    top: -100%;

    overflow-y: auto;
    overflow-x: hidden;
}
.documents_block{
    position: absolute;
    border: 0px solid #fff;
    background-color: #14171E;
    width: 95%;
    height: 96%;
    margin-top: 2%;
    padding: 10px;
    color: #fff;
    right: -100%;

    overflow-y: auto;
    overflow-x: hidden;
}
.contacts_block{
    position: absolute;
    border: 0px solid #fff;
    background-color: #14171E;
    width: 95%;
    height: 96%;
    margin-top: 2%;
    padding: 10px;
    color: #fff;
    bottom: -100%;
}
.main_left_block{
    overflow: hidden;
}
.main_title_block{
    font-size: 29px;
    padding-top: 1%;
}
.aub_close:hover{
    cursor: pointer;
}
.aub_close{
    position: absolute;
    right: 15px;
}
.about_us_block p{
    font-size: 18px;
}
.danger_text{
    border: 2px solid red;
    padding: 10px;
    width: 140px;
    background: #CC0000;
    text-align: center;
    font-size: 20px;
    margin: 0px auto;
}
.contacts_text{
    position: absolute;
    width: 100%;
    height: 300px;
    background: rgba(0,0,0, 0.6);
    top: 25%;
    font-size: 20px;
}
.cb_close:hover,
.db_close:hover,
.acb_close{
    cursor: pointer;
}
.db_close,
.acb_close{
    position: absolute;
    right: 15px;
}

.cbc{
    position: absolute;
    border: 2px solid red;
    padding: 10px;
    width: 140px;
    bottom: 15px;
    right: 25px;
    background: #CC0000;
    text-align: center;
    font-size: 20px;
}
.contacts_card{
    background-color: #009688;
}
.contacts_text a{
    color: #009688;
}
.doc1{
    background-color: #009688;
    padding: 30px;
    border-bottom: 1px solid #14171E;
}


.bgg{
    border: 0px solid red;
    height: 200px;
    background-color: #2C313C;
    padding: 3px;
}
.bggg{
    border: 0px solid red;
    height: 200px;
}

.aaa{
    background: url(../img/user.jpg)  no-repeat center center;
    background-size: cover;
}
.w{
    background: url(../img/w.png)  no-repeat center center;
    background-size: cover;
}
.natasha{
    background: url(../img/natasha.jpg)  no-repeat center center;
    background-size: cover;
}
.iam{
    background: url(../img/i.jpg)  no-repeat center center;
    background-size: cover;
}
.katya{
    background: url(../img/katya.jpg)  no-repeat center center;
    background-size: cover;
}
.tanya{
    background: url(../img/tanya.jpg)  no-repeat center center;
    background-size: cover;
}
.ser{
    background: url(../img/ser.jpg)  no-repeat center center;
    background-size: cover;
}
.misha{
    background: url(../img/misha.jpg)  no-repeat center center;
    background-size: cover;
}
.aleksey{
    background: url(../img/aleksey.jpg)  no-repeat center center;
    background-size: cover;
}
.boss_block{
    padding: 20px 0px 20px 0px;
}
.fa-angle-left{
    position: absolute;
    bottom: 3px;
}
.fa-angle-right{
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.doc_download{
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
}
.doc_download:hover{
    -webkit-box-shadow: 3px 4px 9px 0px rgba(50, 50, 50, 0.33);
    -moz-box-shadow:    3px 4px 9px 0px rgba(50, 50, 50, 0.33);
    box-shadow:         3px 4px 9px 0px rgba(50, 50, 50, 0.33);
    color: #fff;
    font-weight: 700;
}